.Form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.ImageList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0.5em;
  overflow: auto;
  list-style: none;
}

.ImageListItem {
  font-size: 0.9em;
}

.FormFooter {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.ActionButtonList {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  justify-content: space-between;
  width: 100%;
}
